
/*banner开始*/
.banner-bg {
	width: 100%;
	min-width: 1170px;
	background: url(../img/q-baby-bg.jpg) no-repeat center center;
	height: 500px;
	/*margin-bottom: 20px;*/
	position: relative;
	padding-top: 30px;
}

.banner-bg .banner {
	width: 1170px;
	height: 400px;
	margin: 16px auto;
	padding: 12px;
	background-color: white;
	text-align: center;
	border-bottom: 1px solid #777;
}


/*banner结束*/

/*抢购开始*/
.shop-link{
	
}

/*抢购结束*/






















































