



/* 头部、尾部开始 */
.logo>img {
	width: auto;
	height: 100px;
}   
.r-head>ul>li{
    padding: 0 12px;
}
.footer-list ul{
    width: 165px;
}
/* 头部、尾部结束 */


/* 头部开始 */
.content{
    width: 1000px;
    margin: 0 auto;
}



/* 第一部分开始 */
.wrap1{
    height: 430px;
}
/* 第一部分左边 */
.wrap1 .wrap1-left{
    float: left;
    width: 255px;
    height: 410px;
    margin: 10px;
    background-color: #F5F5F5;
}
/* 第一部分右边 */
.wrap1 .wrap1-right{
    float: left;
    width: 695px;
    height: 410px;
    margin: 10px;
    background-color: #fff;
}
.wrap1 .wrap1-right .wrap1-right-top{
    height: 260px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #aaa;
}
.wrap1 .wrap1-right .wrap1-right-bottom ul li{
    width: 225px;
    height: 130px;
    float: left;
    margin-right: 10px;
    background-color: #aaa;
}
/* 第一部分结束 */


/* 第二部分开始 */
.wrap2{
    height: 880px;
}
/* 第二部分结束 */


/* 第三部分开始 */
.wrap3{
    height: 485px;
}
/* 第三部分结束 */


/* 第四部分开始 */
.wrap4{
    height: 382px;
}
/* 第四部分结束 */



/* 头部结束 */



/* 共有部分 */
.bg{
    background-color: darkkhaki;
}
.none{
    margin-right: 0;
}