

/*banner图开始*/
.banner-bg {
	width: 100%;
	min-width: 1400px;
	/* height: 510px; */
	
	height: 440px;
	position: relative;
}
.banner-bg .bg>img {
	width: 100%;
	height: 440px;
}
.banner-bg .banner {
	position: absolute;
	width: 1000px;
	height: 400px;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
.banner>ul {
	position: absolute;
	top: 50px;
}
.banner>ul>li {
	position: absolute;
	width: 1145px;
	overflow: hidden;
}
.banner>ul>li>img {
	width: 975px;
	height: 340px;
}
.banner .banner-list {
	position: absolute;
	bottom: -30px;
}
.banner-list>ul {
	font-size: 0;
	width: 976px;
	padding: 15px 0;
	text-align: center;
	border-bottom: 1px solid #A9A9A9;
}
.banner-list>ul>li {
	display: inline-block;
	width: 195px;
	border-right: 1px solid #777777;
	/*line-height: 40px;*/
	
	font-size: 12px;
	color: #333333;
}
.banner-list .border-r {
	border: none;
}
.banner-list .selected {
	border-bottom: 2px solid #E6057D;
}

/*banner图结束*/

/* 新人优选好货样式开始 */
.index-new-inner {
	margin-top: 10px;
	/* background: pink; */
	
	height: 736px;
	overflow: hidden;
}
.index-new-title {
	margin: 10px 0 25px;
	text-align: center;
	height: 30px;
	background: url(../img/w-00007.png) no-repeat center;
}
.index-new-sec {
	margin-bottom: 5px;
}
.index-new-sec-title {
	font-size: 20px;
}
.index-new-sec-title-left {
	float: left;
}
.clock {
	width: 28px;
	height: 28px;
	display: inline-block;
	vertical-align: top;
	background: url(../img/w-00008.png) no-repeat;
}
.index-new-sec-cate {
	float: right;
	height: 30px;
}
.index-new-sec-cate-right {
	line-height: 30px;
}
.index-new-sec-cate-right>li {
	position: relative;
	float: left;
	padding: 0 12px;
	font-size: 16px;
	color: #333;
	height: 18px;
	cursor: pointer;
}
.borders-right-line:after {
	position: absolute;
	top: 7px;
	right: 0;
	content: "";
	display: inline-block;
	height: 16px;
	width: 1px;
	background: #777777;
}
.index-new-sec-con {
	height: 601px;
}
.index-new-sec-con-link {
	position: relative;
	float: left;
	overflow: hidden;
	width: 286px;
}
.index-new-sec-btn {
	webkit-transition: -webkit-transform 1s ease;
	transition: -webkit-transform 1s ease;
	transition: transform 1s ease;
	transition: transform 1s ease, -webkit-transform 1s ease;
	text-align: center;
	color: #fff;
	font-size: 14px;
	width: 175px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	background-color: #f10180;
	position: absolute;
	left: 50%;
	margin-left: -87px;
	top: 55%;
}
@keyframes light {
	0% {
		left: -100px
	}
	
	to {
		left: 180px
	}
}
.index-new-sec-btn::before {
	content: "";
	width: 60px;
	height: 100%;
	overflow: hidden;
	-webkit-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg);
	transform: skewX(-25deg);
	position: absolute;
	top: 0;
	left: -100px;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
	-webkit-animation: light 4s ease-out -2s infinite backwards;
	animation: light 4s ease-out -6s infinite backwards;
}
.index-new-sec-btn:hover {
	transform: scale(1.1);
}
@keyframes secAni {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	
	50% {
		-webkit-transform: translate(10px, 5px);
		transform: translate(10px, 5px);
	}
	
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes secAni2 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	
	50% {
		-webkit-transform: translate(-10px, -3px);
		transform: translate(-10px, -3px);
	}
	
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes secAni3 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	
	50% {
		-webkit-transform: translate(10px, -4px);
		transform: translate(10px, -4px);
	}
	
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
@keyframes secAni4 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	
	50% {
		-webkit-transform: translate(-10px, -3px);
		transform: translate(-10px, -3px);
	}
	
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
.index-new-sec-ani {
	position: absolute;
	-webkit-animation: secAni ease 6s infinite;
	animation: secAni ease 6s infinite;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	will-change: transform;
}
.index-new-sec-ani1 {
	width: 10%;
	height: 130px;
	top: 15%;
	left: 0%;
}
.index-new-sec-ani2 {
	height: 176px;
	top: 2%;
	right: -10%;
	-webkit-animation-name: secAni2;
	-webkit-animation-delay: 1s;
	-webkit-animation-duration: 7s;
	animation-name: secAni2;
	animation-delay: 1s;
	animation-duration: 7s;
}
.index-new-sec-ani3 {
	height: 310px;
	top: 64%;
	left: 0;
	-webkit-animation-name: secAni3;
	-webkit-animation-delay: -4s;
	-webkit-animation-duration: 7s;
	animation-name: secAni3;
	animation-delay: -4s;
	animation-duration: 7s;
}
.index-new-sec-ani4 {
	height: 154px;
	top: 63%;
	right: -17%;
	-webkit-animation-name: secAni3;
	-webkit-animation-delay: .5s;
	animation-name: secAni3;
	animation-delay: .5s;
}
.index-new-sec-text-wrap {
	width: 176px;
	position: absolute;
	left: 50%;
	top: 45.4%;
	margin-left: -88px;
}
@keyframes textAni {
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes textAni2 {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	
	33% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
	
	66% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	
	100% {
		-webkit-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}
}
.index-new-sec-text {
	width: 44px;
	height: 44px;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: translateX(-286px);
	-ms-transform: translateX(-286px);
	transform: translateX(-286px);
	background: url(../img/w-00014.png) no-repeat left center;
	-webkit-animation: textAni linear .6s forwards .3s, textAni2 ease .3s forwards 2.2s infinite;
	animation: textAni linear .6s forwards .3s, textAni2 ease .3s forwards 2.2s infinite;
}
.index-new-sec-text1 {
	-webkit-animation-delay: .3s, 2.2s;
	animation-delay: .3s, 2.2s;
}
.index-new-sec-text2 {
	background-position: -44px center;
	left: 44px;
	-webkit-animation-delay: .5s, 2.2s;
	animation-delay: .5s, 2.2s;
}
.index-new-sec-text3 {
	background-position: -88px center;
	left: 88px;
	-webkit-animation-delay: .7s, 2.2s;
	animation-delay: .7s, 2.2s;
}
.index-new-sec-text4 {
	background-position: -132px center;
	left: 132px;
	-webkit-animation-delay: .9s, 2.2s;
	animation-delay: .9s, 2.2s;
}
.index-new-sec-cate-con {
	float: left;
	width: 884px;
}
.index-new-sec-cate-con li {
	float: left;
	border: 1px solid gray;
}
.index-new-sec-cate-con img {
	width: 219px;
	height: 295px;
}

/*新特卖开始*/
.new-shop {
	position: relative;
	width: 1170px;
}
.new-shop .top-content>img {
	width: 1170px;
}
.product-list {
	width: 1170px;
	/*height: 1500px;*/
}
.product-list .top-list {
	width: 1170px;
	font-size: 0;
	margin-bottom: 20px;
}
.product-list .top-list>li {
	display: inline-block;
	width: 370px;
	margin-right: 28px;
}
.product-list .top-list>li:nth-child(3) {
	margin-right: 0;
}
.product-list .top-list>li>img {
	width: 370px;
}
.product-list .jp-list {
	width: 1170px;
	font-size: 0;
}
.product-list .jp-list .mr {
	margin-right: 0;
}
.product-list .jp-list>li {
	position: relative;
	width: 570px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.product-list .jp-list>li:hover .jp-list-inner {
	display: block;
}
.product-list .jp-list>li:hover .jp-list-shadow {
	display: block;
}
.product-list .jp-list>li>img {
	width: 570px;
}
.product-list .jp-list .jp-list-shadow {
	background-color: rgba(229, 212, 203, 0.7);
	height: 350px;
	width: 570px;
	position: absolute;
	top: 0;
	display: none;
}
.product-list .jp-list .jp-list-inner {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -225px;
	width: 450px;
	height: 260px;
	display: none;
	background-color: white;
}
.product-list .jp-list .jp-list-inner>ul {
	width: 410px;
	height: 185px;
	padding: 20px 20px 0;
	border-bottom: 1px dotted #666;
}
.product-list .jp-list .jp-list-inner>ul>li {
	width: 120px;
	margin-right: 20px;
	float: left;
	color: #333333;
}
.product-list .jp-list .jp-list-inner>ul>li:hover {
	animation: blink 1s;
}
.product-list .jp-list .jp-list-inner>ul>li>img {
	width: 120px;
}
.product-list .jp-list .jp-list-inner>ul>li>p {
	line-height: 30px;
	font-weight: 700;
	font-size: 14px;
	color: #333;
	text-align: center;
}
.product-list .jp-list .jp-list-inner .inner-log {
	width: 100px;
	float: left;
}
.product-list .jp-list .jp-list-inner .inner-log>img {
	width: 100px;
	height: 50px;
	margin: 2px 30px 0;
}
.product-list .jp-list .jp-list-inner .like {
	float: left;
	background-color: white;
	width: 70px;
	height: 20px;
	line-height: 20px;
	padding: 0 6px;
	border-radius: 10px;
	margin-top: 15px;
	margin-left: 46px;
	font-size: 12px;
}
.product-list .jp-list .jp-list-inner .like:hover {
	background-color: #F10582;
	color: white;
}
.product-list .jp-list .jp-list-inner .enter {
	float: right;
	width: 118px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #333333;
	margin-right: 35px;
	margin-top: 13px;
	border-radius: 3px;
	color: black;
	font-size: 14px;
	text-align: center;
}
.product-list .jp-list .jp-list-inner .enter:hover {
	color: white;
	background-color: #333;
}

/*新特卖结束*/

/*女装品牌开始*/
.women-fashion {
	margin-top: 30px;
	width: 1170px;
}
.title {
	height: 42px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid #333;
}
.title>h2 {
	font-size: 34px;
	font-weight: 700;
	color: #333;
}
.title>span {
	font-size: 14px;
	color: #555;
	margin-top: 20px;
	margin-left: 10px;
}
.title>a {
	width: 102px;
	height: 22px;
	color: #333333;
	font-size: 14px;
	margin-top: 20px;
	margin-right: 15px;
}
.women-fashion .title-list {
	position: relative;
	width: 1170px;
}
.women-fashion .title-list>img {
	width: 1170px;
	margin: 0 auto;
}
.women-fashion .title-list .list-wrap {
	position: absolute;
	top: 0;
	width: 1170px;
	overflow: hidden;
	left: 50%;
	margin-left: -585px;
}
.women-fashion .title-list .list-wrap>img {
	width: 1170px;
}
.women-fashion .title-list .list-wrap>ul {
	width: 1150px;
	height: 255px;
	padding: 0 30px;
}
.women-fashion .title-list .list-wrap>ul>li {
	float: left;
	margin-right: 17px;
	width: 174px;
}
.women-fashion .title-list .list-wrap>ul>li img {
	width: 155px;
}
.list-item>ul {
	width: 1200px;
}
.list-item>ul>li {
	width: 570px;
	float: left;
	margin-right: 30px;
	position: relative;
}
.list-item>ul>li:hover {
	animation: blink 1s;
}
.list-item>ul>li:hover .like {
	display: block;
}
.list-item .list-item-pos {
	width: 570px;
	line-height: 30px;
	background-color: rgba(0, 0, 0, .6);
	position: absolute;
	bottom: 44px;
	font-size: 12px;
	color: white;
}
.list-item .list-item-pos>i {
	margin: 0 10px;
}
.list-item .list-item-pos>span {
	float: left;
	color: white;
}
.list-item .list-item-pos .like {
	float: right;
	width: 88px;
	height: 20px;
	line-height: 20px;
	background-color: white;
	border-radius: 12px;
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	display: none;
	color: #333;
}
.list-item .list-item-pos .like:hover {
	background-color: #F10582;
	color: white;
}
.list-item .list-item-pos .like>span {
	color: #333;
}
.list-item .price-info {
	position: relative;
	height: 40px;
	padding: 0 20px;
}
.list-item .price-info>h3 {
	font-size: 24px;
	color: #f10582;
	margin-right: 0px;
	display: inline-block;
}
.list-item .price-info>span {
	font-size: 14px;
	color: #4d4d4d;
}
.list-item .price-info .brand-time {
	position: absolute;
	right: 0;
	height: 40px;
	font-size: 14px;
	top: 10px;
	color: #333;
}
.list-item .more-list {
	border-top: 1px solid #e8e8e8;
}
.list-item .more-list>a {
	display: block;
	width: 323px;
	height: 44px;
	line-height: 44px;
	color: white;
	background-color: #f10180;
	text-align: center;
	margin: 0 auto 50px;
}

/*女装品牌结束*/

/*鞋包开始*/
.shoes-bg {
	background: url(../img/q-ind-xie-bg.jpg)no-repeat center top;
	position: relative;
	min-width: 1170px;
	height: 410px;
}
.shoes-bg .shoes-inner {
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -335px;
	width: 670px;
	height: 410px;
	overflow: hidden;
}
.shoes-bg .shoes-inner>img{
	position: absolute;
	transition: all .5s;
}
.shoes-bg .shoes-inner:hover >img{
	transform: scale(1.1);
}
.shoes-bg .shoes-inner .shoes-inner-con {
	position: absolute;
	left: 50%;
	margin-left: -160px;
	width: 318px;
	height: 160px;
	bottom: 20px;
}
.shoes-bg .shoes-inner .shoes-inner-con>img {
	width: 318px;
	height: 160px;
}
.shoes-bags{
	width: 1170px;
	margin: 100px auto 0;	
}
/*鞋包结束*/
/*男装开始*/
.men-fashion{
	width: 1170px;
}
/*男装结束*/
/*饰品品牌开始*/

/*饰品品牌结束*/