/* 头部菜单css样式 */
li{
	cursor: pointer;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.top-menu {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #f10180;
}

.main-nav {
	min-width: 1000px;
}

.head-inner li {
	float: left;
}

.main-nav-atag {
	padding: 0 20px;
	color: #fff;
}

.first-page {
	background: #bd1067;
}

.head-inner .icon-desc {
	position: relative;
	font-style: normal;
	display: inline-block;
	height: 0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}

.more-wrap::after {
	position: absolute;
	top: 22px;
	left: 57px;
	content: "";
	font-style: normal;
	display: inline-block;
	height: 0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	display: none;
}

.head-inner .nav-comingsoon {
	float: right;
}

.head-inner .nav-category {
	position: relative;
	float: right;
}

.main-nav-link {
	display: block;
	height: 40px;
	padding: 0 14px;
	text-align: center;
	color: #fff;
}

.main-nav-link img {
	vertical-align: middle;
	margin-top: -6px;
	margin-right: 6px;
}

.nav-category .line {
	position: absolute;
	right: 0;
	top: 12px;
	display: inline-block;
	width: 1px;
	height: 16px;
	background: grey;
}

.head-inner li:hover {
	background: #bd1067;
}


/* 更多隐藏菜单样式开始 */

.channel-item-group {
	position: absolute;
	top: 40px;
	right: 0;
	background: red;
	width: 558px;
	padding: 26px 10px 11px 26px;
	z-index: 2;
	display: none;
}

.channel-item {
	position: relative;
	float: left;
	margin: 0 16px 16px 0;
	width: 170px;
	height: 96px;
	border-radius: 5px;
	overflow: hidden;
}

.shadow {
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 96px;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .9) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .9) 100%);
	-webkit-transition: -webkit-transform 300ms linear;
	transition: all .3s;
}

.brand-text {
	position: absolute;
	z-index: 3;
	color: #fff;
	font-size: 16px;
	text-align: center;
	width: 100%;
	height: 20px;
	left: 0;
	bottom: 10px;
	overflow: hidden;
	-webkit-transition: -webkit-transform 300ms linear;
	transition: all .3s;
}

.brand-name-chinese {
	height: 20px;
	line-height: 20px;
}

.channel-item:hover .shadow {
	top: 0;
}

.channel-item:hover .brand-text {
	bottom: 38px;
}


/* 更多隐藏菜单样式结束 */

.more-wrap:hover .channel-item-group {
	display: block;
}

.more-wrap:hover .icon-desc {
	display: none;
}

.more-wrap:hover::after {
	display: block;
}


/* 头部菜单样式结束 */

.top-head {
	height: 130px;
	width: 100%;
	min-width: 1000px;
}

.head-bg {
	width: 100%;
	background-color: #f5f5f5;
	color: #777;
	line-height: 28px;
	font-size: 12px;
}

.head-bg .location {
	width: 55px;
	float: left;
	line-height: 28px;
}

.r-head {
	width: 844px;
	float: right;
}

.r-head>ul {
	width: 844px;
}

.r-head>ul>li {
	padding: 0 10px;
	float: left;
}

.r-head>ul>li .phone {
	display: block;
	float: left;
	width: 10px;
	height: 14px;
	margin-top: 5px;
	margin-right: 2px;
	background: url(../img/q-ind-h3.png) no-repeat;
}

.top-nav {
	width: 1170px;
}

.logo {
	float: left;
}

.logo>img {
	width: 160px;
	height: 100px;
}

.c-nav {
	float: left;
	line-height: 100px;
	margin-left: 10px;
}

.tool {
	float: right;
	height: 100px;
	line-height: 100px;
}

.tool>span {
	position: relative;
	float: left;
}

.tool>span>input {
	padding: 0 5px;
	width: 330px;
	line-height: 30px;
	color: #333;
	font-size: 14px;
	background-color: #fff;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid #333;
}

.tool .search {
	position: absolute;
	right: 6px;
	top: 4px;
}

.tool .c-nav-r {
	position: relative;
	line-height: 100px;
	float: right;
	margin-top: 34px;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	line-height: 32px;
	padding: 0 32px;
	font-size: 12px;
	margin-left: 20px;
}

.tool .c-nav-r a {
	/*line-height: 100px;*/
	width: 40px;
	height: 34px;
	color: #333333;
	/*float: left;*/
}

.tool .c-nav-r a>i {
	position: absolute;
	left: 16px;
	top: 3px;
}

.tool .c-nav-icon {
	position: absolute;
	top: 8px;
	right: 7px;
	z-index: 1;
	border-radius: 8px;
	height: 16px;
	width: 24px;
	line-height: 16px;
	color: #fff;
	text-align: center;
	background-color: #f00581;
}


/*banner图开始*/

.banner-bg {
	width: 100%;
	min-width: 1400px;
	height: 510px;
	position: relative;
}

.banner-bg .bg>img {
	width: 100%;
	height: 440px;
}

.banner-bg .banner {
	position: absolute;
	width: 1000px;
	height: 400px;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

.banner>ul {
	position: absolute;
	top: 50px;
}

.banner>ul>li {
	position: absolute;
	width: 1145px;
	overflow: hidden;
}

.banner>ul>li>img {
	width: 975px;
	height: 340px;
}

.banner .banner-list {
	position: absolute;
	bottom: -30px;
}

.banner-list>ul {
	font-size: 0;
	width: 976px;
	padding: 15px 0;
	text-align: center;
	border-bottom: 1px solid #A9A9A9;
}

.banner-list>ul>li {
	display: inline-block;
	width: 195px;
	border-right: 1px solid #777777;
	/*line-height: 40px;*/
	font-size: 12px;
	color: #333333;
}

.banner-list .border-r {
	border: none;
}

.banner-list .selected {
	border-bottom: 2px solid #E6057D;
}


/*banner图结束*/


/*新特卖开始*/

.new-shop {
	position: relative;
	width: 1000px;
}

.new-shop .top-content>img {
	width: 1000px;
}

.product-list {
	width: 1000px;
	/*height: 1500px;*/
}

.product-list .top-list {
	width: 1000px;
	font-size: 0;
	margin-bottom: 20px;
}

.product-list .top-list>li {
	display: inline-block;
	width: 320px;
	margin-right: 20px;
}

.product-list .top-list>li:nth-child(3) {
	margin-right: 0;
}

.product-list .top-list>li>img {
	width: 320px;
}

.product-list .jp-list {
	width: 1000px;
	font-size: 0;
}

.product-list .jp-list .mr {
	margin-right: 0;
}

.product-list .jp-list>li {
	position: relative;
	width: 490px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;	
}
.product-list .jp-list>li:hover .jp-list-inner{
  display: block;
}
.product-list .jp-list>li:hover .jp-list-shadow{
  display: block;
}
.product-list .jp-list>li>img {
	width: 490px;
}
.product-list .jp-list .jp-list-shadow{
	background-color: rgba(229,212,203,0.5);
	height: 299px;
	width: 490px;
	position: absolute;
	top: 0;
	display: none;
}
.product-list .jp-list .jp-list-inner {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -225px;
	width: 450px;
	height: 260px;
	display: none;
	background-color: white;
}

.product-list .jp-list .jp-list-inner>ul {
	width: 410px;
	height: 185px;
	padding: 20px 20px 0;
	border-bottom: 1px dotted #666;
}

.product-list .jp-list .jp-list-inner>ul>li {
	width: 120px;
	margin-right: 20px;
	float: left;
	color: #333333;
}
.product-list .jp-list .jp-list-inner>ul>li>img{
	width: 120px;
}
.product-list .jp-list .jp-list-inner>ul>li>p {
	line-height: 30px;
	font-weight: 700;
	font-size: 14px;
	color: #333;
	text-align: center;
}
.product-list .jp-list .jp-list-inner .inner-log{
	width: 100px;
	float: left;
}
.product-list .jp-list .jp-list-inner .inner-log>img{
	width: 100px;
	height: 50px;
	margin: 2px 30px 0;
}
.product-list .jp-list .jp-list-inner .like{
	float: left;
	background-color: pink;
	width: 70px;
	height: 20px;
	line-height: 20px;
	padding: 0 6px;
	border-radius: 10px;
	margin-top: 15px;
	margin-left: 46px;
	font-size: 12px;
	
}
.product-list .jp-list .jp-list-inner .enter{
	float: right;
	width: 118px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #333333;
	margin-right: 35px;
	margin-top: 13px;	
	border-radius: 3px;
	color: black;
	font-size: 14px;
	text-align: center;
}
/*新特卖结束*/
/*女装品牌开始*/


/*女装品牌结束*/

