/* 共有部分 */
.main .agio{
    padding: 0px 3px;
    margin-top: 5px;
    border: 1px solid #f1b13b;
}



/* 字体图标 */
/* @font-face {
    font-family: '../iconfont';
    src: url('../iconfont.eot');
    src: url('../iconfont.eot?#iefix') format('embedded-opentype'),
    url('../iconfont.woff') format('woff'),
    url('../iconfont.ttf') format('truetype'),
    url('../iconfont.svg#iconfont') format('svg');
} */
.main .count-down .haveday .iconfont{
    font-family:"iconfont" !important;
    font-size:14px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 头部开始 */
li{
	cursor: pointer;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

.top-menu {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #f10180;
}

.main-nav {
	min-width: 1000px;
}

.head-inner li {
	float: left;
}

.main-nav-atag {
	padding: 0 20px;
	color: #fff;
}

.first-page {
	background: #bd1067;
}

.head-inner .icon-desc {
	position: relative;
	font-style: normal;
	display: inline-block;
	height: 0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}

.more-wrap::after {
	position: absolute;
	top: 22px;
	left: 57px;
	content: "";
	font-style: normal;
	display: inline-block;
	height: 0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	display: none;
}

.head-inner .nav-comingsoon {
	float: right;
}

.head-inner .nav-category {
	position: relative;
	float: right;
}

.main-nav-link {
	display: block;
	height: 40px;
	padding: 0 14px;
	text-align: center;
	color: #fff;
}

.main-nav-link img {
	vertical-align: middle;
	margin-top: -6px;
	margin-right: 6px;
}

.nav-category .line {
	position: absolute;
	right: 0;
	top: 12px;
	display: inline-block;
	width: 1px;
	height: 16px;
	background: grey;
}

.head-inner li:hover {
	background: #bd1067;
}


/* 更多隐藏菜单样式开始 */

.channel-item-group {
	position: absolute;
	top: 40px;
	right: 0;
	background: red;
	width: 558px;
	padding: 26px 10px 11px 26px;
	z-index: 2;
	display: none;
}

.channel-item {
	position: relative;
	float: left;
	margin: 0 16px 16px 0;
	width: 170px;
	height: 96px;
	border-radius: 5px;
	overflow: hidden;
}

.shadow {
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 96px;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .9) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .9) 100%);
	-webkit-transition: -webkit-transform 300ms linear;
	transition: all .3s;
}

.brand-text {
	position: absolute;
	z-index: 3;
	color: #fff;
	font-size: 16px;
	text-align: center;
	width: 100%;
	height: 20px;
	left: 0;
	bottom: 10px;
	overflow: hidden;
	-webkit-transition: -webkit-transform 300ms linear;
	transition: all .3s;
}

.brand-name-chinese {
	height: 20px;
	line-height: 20px;
}

.channel-item:hover .shadow {
	top: 0;
}

.channel-item:hover .brand-text {
	bottom: 38px;
}


/* 更多隐藏菜单样式结束 */

.more-wrap:hover .channel-item-group {
	display: block;
}

.more-wrap:hover .icon-desc {
	display: none;
}

.more-wrap:hover::after {
	display: block;
}


/* 头部菜单样式结束 */

.top-head {
	height: 130px;
	width: 100%;
	min-width: 1000px;
}

.head-bg {
	width: 100%;
	background-color: #f5f5f5;
	color: #777;
	line-height: 28px;
	font-size: 12px;
}

.head-bg .location {
	width: 55px;
	float: left;
	line-height: 28px;
}

.r-head {
	width: 844px;
	float: right;
}

.r-head>ul {
	width: 844px;
}

.r-head>ul>li {
	padding: 0 10px;
	float: left;
}

.r-head>ul>li .phone {
	display: block;
	float: left;
	width: 10px;
	height: 14px;
	margin-top: 5px;
	margin-right: 2px;
	background: url(../img/q-ind-h3.png) no-repeat;
}

.top-nav {
	width: 1170px;
}

.logo {
	float: left;
}

.logo>img {
	width: 160px;
	height: 100px;
}

.c-nav {
	float: left;
	line-height: 100px;
	margin-left: 10px;
}

.tool {
	float: right;
	height: 100px;
	line-height: 100px;
}

.tool>span {
	position: relative;
	float: left;
}

.tool>span>input {
	padding: 0 5px;
	width: 330px;
	line-height: 30px;
	color: #333;
	font-size: 14px;
	background-color: #fff;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid #333;
}

.tool .search {
	position: absolute;
	right: 6px;
	top: 4px;
}

.tool .c-nav-r {
	position: relative;
	line-height: 100px;
	float: right;
	margin-top: 34px;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	line-height: 32px;
	padding: 0 32px;
	font-size: 12px;
	margin-left: 20px;
}

.tool .c-nav-r a {
	width: 40px;
	height: 34px;
	color: #333333;
}

.tool .c-nav-r a>i {
	position: absolute;
	left: 16px;
	top: 3px;
}

.tool .c-nav-icon {
	position: absolute;
	top: 8px;
	right: 7px;
	z-index: 1;
	border-radius: 8px;
	height: 16px;
	width: 24px;
	line-height: 16px;
	color: #fff;
	text-align: center;
	background-color: #f00581;
}
/* 头部结束 */

/* 悬浮红包开始 */
.list-sider{
    position: fixed;
    top: 237px;
    z-index: 2;
    width: 85px;
    left: 16%;
    height: 650px;
    animation: move;
}
/* 悬浮红包结束 */
/* <!-- 悬浮的红包（左上）开始 --> */
.list-sider-top{
    height: 90px;
    background: url(../img/xy-fix.png) -124px 0px;
    display: none;
    transition: all .5s;
}
.list-sider-top:hover{
    cursor: pointer;
}

/* 显示出来的内容开始 */
.advertisement{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all 2s;
}
.advertisement ul{
    width: 108px;
    color: #333;
    background-color: #fff;
    border: 1px solid #dfdfdf;
}
.advertisement ul>li{
    padding: 5px 5px;
}
.advertisement li:nth-child(1){
    position: relative;
    width: 115px;
    height: 88px;
    z-index: 1;
    margin-left: -7px;
    background-image: url(../img/xy-fix.png);
    background-position: -231px 0px;
}
.advertisement li:nth-child(1) p{
    width: 92px;
    height: 44px;
    background-color: #fff;
    margin-left: 10px;
    margin-top: 14px;
}
.advertisement li:nth-child(1) p img{
    width: 70px;
    margin-top: 5px;
    margin-left: 10px;
}
.advertisement li:nth-child(3){
    border-top: 1px dashed #dcdcdc;
    border-bottom: 1px dashed #dcdcdc;
}
.advertisement li span:first-child{
    color: #FEFFE0;
    padding: 0px 3px;
    background-color: #F3B241;
}
.advertisement-bottom .close{
    position: absolute;
    right: -5px;
    top: 5px;
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background-color: #000;
    display: none;
}
.advertisement-bottom .close:hover{
    color: red;
    cursor: pointer;
}
/* 右上的小箭头 */
.advertisement ul li i{
    position: absolute;
    top: 22px;
    left: 121px;
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url(../img/xy-fix.png) -210px -84px;
}
 /* 显示出来的内容结束 */
/* <!-- 悬浮的红包（左上）结束 --> */
/* 悬浮在右下角的红包开始 */
.advertisement-bottom{
    position: absolute;
    bottom: 0;
}
.advertisement-bottom .hide-bottom{
    position: absolute;
    bottom: 50px;
}
.advertisement-bottom .hide-bottom:hover{
    cursor: pointer;
}
/* 悬浮在右下角的红包结束 */

/* 当窗口宽度小于1300的时候advertisement隐藏,list-sider的left值等于0 */
@media (max-width:1300px){
    .list-sider{
        left: 0;
    }
    .list-sider-top{
        display: block;
    }
    .advertisement{
        display: none;
    }
    .reveal-bottom{
        display: none;
    }
    .hide-bottom{
        display: block;
    }
}
@media (min-width:1300px){
    .list-sider{
        left: 16%;
    }
    .list-sider-top{
        display: none;
    }
    .advertisement{
        display: block;
    }
    .reveal-bottom{
        display: block;
    }
    .hide-bottom{
        display: none;
    }
}

/* 购物袋开始 */
/* .side{
    position: fixed;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    z-index: 999;
}
.gouwu{
    position: fixed;
    right: 0;
    top: 0px;
    height: 100%;
    display: none;
    text-align: center;
    width: 40px;
    background-color: #262626;
}

.side .gouwu>i,.side .icon-jiantoushang{
    display: inline-block;
    font-size: 25px;
    padding-top: 5px;
    width: 40px;
    height: 35px;
    color: #fff;
    background-color: #262626;
}
.gouwu .icon-yonghutouxiang{
    margin-top: 190px;
}
.gouwu .icon-bi{
    margin-top: 228px;
}
.side .icon-shoucang1,.side .icon-daojishi,.side .icon-shoucang{
    font-size: 18px;
}
.side .gouwu>span{
    display: inline-block;
    font-size : 12px;
    color: #fff;
    margin-bottom: 160px;
}

.shop p{
    width: 22px;
    margin-top: 7px;
    margin-left: 8px;
}
.side .shop{
    position: fixed;
    top: 250px;
    right: 0;
    margin-top: 10px;
    width: 40px;
    height: 150px;
    text-align: center;
    background-color: #DF147F;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
}
.shop .icon-gouwudai{
    display: inline-block;
    font-size: 23px;
    margin-top: 10px;
}
.shop span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #DF147F;
    font-size: 14px;
    margin-top: 7px;
    background-color: #fff;
}
.side .icon-jiantoushang{
    position: fixed;
    bottom: 10px;
    right: 0;
    text-align: center;
    display: block;
}

.side .login{
    position: absolute;
    width: 68px;
    height: 68px;
    background-color: #fff;
} */
/* 购物袋结束 */


/* 大图开始 */
.img{
    min-width: 1170px;
    height: 380px;
    margin: auto;
    background: url("../img/xy-big-img.jpg") center no-repeat ;
    /* background-size: 100%; */
}
/* 大图结束 */

/* 主要部分开始 */
.main{
    width: 1000px;
    margin: 0 auto;
    /* background-color: skyblue; */
}

/* 倒计时开始 */
.main .count-down{
    height: 47px;
    border: 1px solid #dfdfdf;
    border-bottom: none;
}
.main .count-down h2{
    font-size: 16px;
    font-weight: normal;
    line-height: 47px;
    text-indent: 15px;
    display: inline-block;
}
.main .count-down .haveday{
    font-size: 12px;
    margin-left: 40px;
    letter-spacing:  1px;
    display: inline-block;
}
.main .count-down .lxftime{
    display: inline-block;
}

.main .count-down .Collection{
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    padding: 2px 10px;
    font-size: 12px;
    border: 1px solid #dfdfdf;
    border-radius: 1em;
    color : #f32b80;
}
.main .count-down .Collection em{
    color: #999;
}
.main .count-down .Collection:hover,.main .count-down .Collection em:hover{
    color: #fff;
    cursor: pointer;
    transition: all .5s;
    background-color: #f32b80;
}
/* 字体图标设置样式开始 */
.main .count-down .haveday i{
    color: #f10180;
}
.main .count-down .Collection i{
    font-size: 10px;
    font-weight: bold;
    margin-right: 5px;
}
/* 字体图标设置样式结束 */

/* 倒计时结束 */




/* 选项开始 */
.main .choose,.main .sort{
    font-size: 12px;
    border: 1px solid #dfdfdf;
}
.main .choose dl{
    position: relative;
    /* margin-top: 10px; */
}
.main .choose dl:first-child{
    border-bottom: 1px dotted #dfdfdf;
}
.main .choose dl dt{
    position: absolute;
    top: 18px;
    left: 20px;
    color: #666;
}
.main .choose dl ul{
    width: 850px;
    margin-left: 105px;
}
.main .choose dl ul li{
    float: left;
    height: 35px;
    margin-top: 20px;
    margin-right: 60px;
}
.main .choose dl ul li a{
    color: #000;
}
.main .choose dl ul li a:hover{
    color: #f10180;
}
.main .choose dl ul li .agio{
    color: #f10180;
    border-color: #f10180;
    padding: 3px 10px;
}
/* 选项结束 */



/* 排序开始 */
.main .sort{
    height: 48px;
    background-color: #F5F5F5;
}
.main .sort ul li{
    position: relative;
    float: left;
    text-align: center;
    min-width: 67px;
    line-height: 48px;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
.main .sort ul li input{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.main .sort ul li:nth-child(4){
    width: 140px;
}
.main .sort ul li:nth-child(5){
    float: right;
    border:none;
}
.main .sort ul li:nth-child(5) span{
    margin: 3px;
}
.main .sort ul li:nth-child(5):last-child{
    margin-right: 20px;
}
.main .sort ul li:nth-child(5) .agio{
    padding: 5px 10px;
    color: #dfdfdf;
    background-color: #fff;
    border-color: #dfdfdf;
}
.main .sort ul li:nth-child(5) .next{
    color: #333;
}
.main .sort ul li small,.main .sort ul li strong{
    color: #f10180;
    font-size: 12px;
    font-weight: normal;
}
.main .sort ul li strong{
    color: #333;
}
/* 当他们hover的时候 */
.main .sort ul li span:hover{
    color: #f10180;
    cursor: pointer;
}
.main .sort ul li:active{
    border-color:#f10180;
}
.main .sort ul li:nth-child(5) .next:hover,.main .btn a:hover{
    color: #f10180;
    border-color:#ffbde0;
    background-color: #fcf5f7;
}
.main .sort ul li:nth-child(5) .next:active,.main .btn a:active{
    background-color: #f10180;
    border-color: #f10180;
    color: #fff;
}
/* 字体图标样式开始 */
.main .sort ul li i{
    color: gray;
    font-size: 5px;
    display: block;
    width: 10px;
    /* height: 15px; */
    position: absolute;
    right: 5px;
}
.main .sort ul li .icon-jiantoushang{
    top: -4px;
}
.main .sort ul li .icon-jiantouxia{
    bottom: -7px;
}
/* 字体图标样式结束 */
/* 排序结束 */





/* 产品展示部分开始 */
.main .show ul li{
    float: left;
    width: 235px;
    height: 373px;
    font-size: 12px;
    margin-top: 20px;
    margin-right: 20px;
}
.main .show ul li:nth-child(4n){
    margin-right: 0;
}
.main .show ul li div{
    margin-top: 5px;
    margin-bottom: 5px;
}
.main .show ul li div span{
    color: #f10180;
}
.main .show ul li div big{
    font-size: 22px;
}
.main .show .agio{
    color: #f1b13b;
    float: right;
}
.main .show ul li div del{
    color: #999;
    margin-left: 20px;
}
.main .show ul li p{
    color: #666;
}
/* hover的时候 */
/* 产品展示部分结束 */

/* 分页按钮开始 */
.main .btn{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.main .btn a{
    display: inline-block;
    padding: 12px 22px;
    color: #848585;
    border: 1px solid #b8b8b8;
}
/* 分页按钮结束 */

/* 你可能喜欢的品牌开始 */
.main .hobby h2{
    color: #fff;
    line-height: 28px;
    font-size: 14px;
    text-indent: 12px;
    background-color: #F10180;
}
.main .hobby h2 p{
    font-weight: normal;
    float: right;
    font-size: 12px;
}
.main .hobby h2 p a{
    color:#fff;
    margin: 10px;
}
.main .hobby ul li{
    float: left;
    width: 320px;
    height: 193px;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 20px;
}
.main .hobby ul li p{
    margin-top: 5px;
    text-indent: 12px;
}
.main .hobby ul li span{
    float: right;
    margin-top: -2px;
    margin-right: 10px;
}
.main .hobby ul li big{
    color: #F10180;
}
.main .hobby ul li:nth-child(3n){
    margin-right: 0;
}
.main .hobby ul li:hover{
    cursor: pointer;
}
.main .hobby ul li img{
    animation: blink .5s;
}
/* 两个小箭头 */
.main .hobby{
    position: relative;
}
.main .hobby>a{
    position: absolute;
    /* margin-top: -270px; */
    top:41%;
    font-size: 20px;
    padding: 30px 10px;
    font-weight: bold;
    color: #dfdfdf;
    background-color: rgba(0,0,0,.3);
    display: none;
}
.main .hobby .prev{
    left: 0;
}
.main .hobby .next{
    right: 0;
}
/* 你可能喜欢的品牌结束 */


/* 主要部分结束 */


/* 底部开始 */
.P-footer{
    width: 100%;
    min-width: 1000px;
    background-color: #FCFCFC;
    /* height: 480px; */
    border-top: 1px solid #EBEBEB;
    float: left;
}
.footer-vip{
    height: 105px;
    width: 100%; 
    /* background-color: #000000;   */
}
.footer-vip li{
    float: left;
    width: 10%;
    height: 105px;
    /* padding:15px; */
    /* background-color: #000; */
}
.footer-vip li i{
    display:block;
    width: 58px;
    height: 75px;
    margin:15px 23px;
    
}
.footer-vip li:nth-child(1) i{
    background:url(../img/zxx-list.png)  0 0 no-repeat;
} 
.footer-vip li:nth-child(2) i{
    background:url(../img/zxx-list.png)  -80px 0 no-repeat;
} 
.footer-vip li:nth-child(3) i{
    background:url(../img/zxx-list.png)  -160px 0 no-repeat;
} 
.footer-vip li:nth-child(4) i{
    background:url(../img/zxx-list.png)  -240px 0 no-repeat;
} 
.footer-vip li:nth-child(5) i{
    background:url(../img/zxx-list.png)  -320px 0 no-repeat;
} 
.footer-vip li:nth-child(6) i{
    background:url(../img/zxx-list.png)  -400px 0 no-repeat;
} 
.footer-vip li:nth-child(7) i{
    background:url(../img/zxx-list.png)  -480px 0 no-repeat;
} 
.footer-vip li:nth-child(8) i{
    background:url(../img/zxx-list.png)  -560px 0 no-repeat;
} 
.footer-vip li:nth-child(9) i{
    background:url(../img/zxx-list.png)  -640px 0 no-repeat;
} 
.footer-vip li:nth-child(10) i{
    background:url(../img/zxx-list.png)  -720px 0 no-repeat;
} 

.footer-list{
    height: 150px;
}
.footer-list ul{
    width: 194px;
    float: left;
    border-left: 1px solid #EBEBEB;
    margin-top: 10px; 
     
}
.footer-list ul li{
    font-size: 12px;
    margin-top: 5px;
    margin-left: 15px;
}
.footer-infor{
    width: 100%;
    height: 30px;
    background-color: #f10180;
    margin-top: 30px;
}
.footer-infor p:nth-child(1){
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.footer-infor p{
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-top: 5px;
    
}
.footer-infor p:nth-child(1){
    margin-top: 20px;    
}
/* 底部结束 */