


/*banner部分*/
.mens-banner-bg{
	position: relative;
	width: 100%;
	min-width: 1170px;
	height: 452px;
	background: url(../img/q-men-bg.jpg) no-repeat center center;
}

/*倒计时*/
.banner-time{
	height: 50px;
	width: 100%;
	min-width: 1170px;
	line-height: 50px;
	    color: #fff;
    text-align: center;
    background-color: #000000;
}
.time-item{
	color: rgb(254, 176, 28);
	font-size: 30px;
	vertical-align: top;
    font-weight: 700;
    margin: 0 5px;    
    line-height: 48px;
}
/*<!--产品列表-->*/
.mens-product-list{
	width: 100%;
	height: 316px;
	min-width: 1000px;
	background: url(../img/q-mens-pic1.jpg) no-repeat center center;
}
.mens-product-list .list-wrap{

	height: 316px;
	width: 880px;
	padding: 20px 60px 0;
}
.mens-product-list .list-wrap a{
	width: 286px;
	height: 144px;
	display: block;
	float: left;	
	margin-bottom: 10px;
}


/*时尚男装开始*/
.fashoin-mens{
	/* width: 100%; */
	min-width: 1000px;
	
}
.title-wrap{
	width: 100%;
	height: 123px;
	background: url(../img/q-mens-pic2.jpg) no-repeat center center;
}
.fashoin-mens-list{
	float: left;
    width: 226px;
    height: 460px;
    margin: 16px 16px 0 0;
    border: solid 1px #e0e0e0;
}
.fashoin-mens-list-photo{
	height: 288px;
    overflow: hidden;
    position: relative;
}
.fashoin-mens-list-text{
	height: 116px;
    padding: 39px 15px 10px;
    position: relative;
}

/*时尚男装结束*/