/* 字体图标 */
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
/* 页面结构开始 */
 .main a{
    text-decoration:none;
    outline: none;
    }
 .main a:hover{
    color: #f10180;
}
select{
    padding:5px 10px;
    font-size: 12px;
    color: #999;
    line-height: 32px;
    
    margin-left: 20px;
    }
.outer{
    width:500px;
    /* float: left; */
    }

.main{
    margin: 0 auto;
    /* height: 800px; */
    min-width: 1000px;
}
.product-01{
    width: 100%;
    float: left;
}
/* 产品位置导航开始 */
.product-top{
    width: 100%;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}
/* 产品位置导航结束 */
/* 左侧产品以及简介开始 */
.product-left{
    height: 530px;
    width: 420px;
    float: left;
    position: relative;
}
/* 放大镜的样式开始 */
.htmleaf-content{
    width: 700px;
    margin:50px auto;
}
/* sample CSS to set the initial dimensions of images that will be zoomable */
.sampleimage{
    width: 420px;
    height: auto;
    margin-right: 20px;
}

/* 放大镜样式结束 */
.p-safe{
    width: 420px;
    height: 59px;
    border-top:1px dotted #BCB7BA; 
}
.p-safe ul{
    height: 40px;
    margin-top: 9px;
}
.p-safe li{
    width: 140px;
    float: left;
    font-size: 16px;
    color:#BCB7BA;
    text-align: center;
}
.p-safe li i{
    display: inline-block;
    width: 30px;
    height: 32px;
    margin-right: 15px;    
    vertical-align: middle;
}
.p-safe li:nth-child(1) i{   
    background:url(../img/zxx-100.png) -360px -190px no-repeat;
}
.p-safe li:nth-child(2) i{    
    background:url(../img/zxx-100.png) -428px -190px no-repeat;    
}
.p-safe li:nth-child(3) i{    
    background:url(../img/zxx-100.png) -326px -190px no-repeat;

}
.p-text span{
    font-size: 12px;
    color:#BCB7BA;
    margin-right: 20px;

}
.p-text span>i{
    display: inline-block;
    width:15px;
    height: 15px;
    background:url(../img/zxx-100.png) -544px -150px no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
.p-text span:nth-child(3)>i{
    background:url(../img/zxx-052.png) -16px -19px no-repeat;
    margin-left: 5px;
}
.p-text span:nth-child(2):hover{
    color: #f10180;
}
.p-text span:nth-child(3){
    float: right;
    width: 78px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #BCB7BA;
    position: relative;
}
.p-text span:nth-child(3):hover{
    border-bottom: none;
}
.vips-bshare{
    width: 104px;
    height: 30px;
    border: 1px solid #BCB7BA;
    border-top: none;
    z-index: 20;
    position: absolute;
    top: 20px;
    left: -1px;
    display: none;
}
.vips-bshare li{
    float: left;
    width: 26px;
    height: 30px; 
    border-top: 1px solid #BCB7BA;
}
.vips-bshare li:nth-child(1),.vips-bshare li:nth-child(2),.vips-bshare li:nth-child(3){
    border-top:none;
}
.vips-bshare li i{
    display:inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: #333;
    
}
.vips-bshare li:nth-child(1) i{
    background:url(../img/zxx-051.png) 0  0 no-repeat;
}
.vips-bshare li:nth-child(2) i{
    background:url(../img/zxx-051.png) -30px  0 no-repeat;
}
.vips-bshare li:nth-child(3) i{
    background:url(../img/zxx-051.png) -210px  0 no-repeat;
}
.vips-bshare li:nth-child(4) i{
    background:url(../img/zxx-051.png) -240px  0 no-repeat;
}
.p-text span:nth-child(3):hover .vips-bshare{
    display: block;
}

/* 左侧产品以及简介结束 */
/* 右侧商品介绍开始 */
.product-right{
    height:820px ;
    width: 600px;
    float: left;
    margin-left: 30px;
}
.product-right-01{
    height: 370px;
    border-bottom:1px dotted #BCB7BA; 
}
.product-right-01 p:nth-child(1){
    color: #999999;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
}
.product-right-01 p:nth-child(2){
    color: #333;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
}
.product-right-01 p span{
    color:#f10180;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
}
.product-right-01 p:nth-child(3){
    color: #999999;
    font-size: 14px;
    height: 30px;
    line-height: 20px;
}
.prices{
    height: 120px;
    margin-top: 20px;
    background-color: #FAF5F8;
}
.prices-left{
    height: 100px;
    line-height: 100px;
    font-size:46px;
    color: #f10180;
    width: 160px;
    float: left;
}
.prices-left small{
    font-size: 20px;
}
.prices-right{
    width: 80px;
    float: left;
    /* height: 100px; */
    line-height: 20px;
    margin-top: 35px;    
}
.prices-right span:nth-child(1){    
    color: #f10180;
    width: 80px;
    font-size: 12px;
    padding:0 5px;
    margin: 0 8px;
    border:1px solid #f10180;   
}
.prices-right del{
    font-size: 14px;
    color: #999999;
    margin: 0 8px;    
}
 .Ptext{
    color: #999999;
    width: 600px;
    float: left;
}
.product-right-01 .pr-box{
    margin-top: 20px;
}
.product-right-01 .pr-box p {
    line-height: 40px;
    margin-top: 15px;
    height: 40px;

}
.product-right-01 .pr-box p span,.outer span{
    font-size: 12px;
    color: #999;
    line-height: 32px;
    font-weight: normal;
    
}
/* .product-right-01 .pr-box input{
    margin-left: 20px;
} */
.product-right-01 .pr-box p:nth-child(2) span:nth-child(2){
    background-color: #F3B241;
    color: #fff;
}
.product-right-02{
    width: 600px;
    
}
.recommend-txt{
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-size: 14px;
}
.recommend-warper{
    height: 400px;
    font-size: 12px;
}
.rec-p{
    background-color: #f10180;
    height: 30px;
}
.rec-p p{
    line-height: 30px;
    color: #ffffff;
    font-size: 14px;
    margin-left: 10px;
}
.recommend-pr{
    width: 100%;
    height: 240px;
    border-bottom:1px dotted #BCB7BA; 
    overflow: hidden    
}
.recommend-pr ul{
    width: 135px;
    height: 240px;
    float: left;
}
.recommend-pr ul li img{
    width: 135px;
    height: 155px;
    margin-bottom: 10px;
}
.recommend-pr ul:nth-child(odd){
    margin-right: 20px;
}
.recommend-pr ul:nth-child(3){
    margin-left: 20px;
}
.recommend-pr ul li:nth-child(2){
    color: #666;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
.recommend-pr ul li span{
    color: #f10180;
    margin-right: 10px;
    font-size: 14px;
}
.recommend-pr ul li del{
    color: #666;
}
.service p{
    margin-top: 20px;
    color: #666;
    line-height: 20px;
}
.service p span{
   margin-right: 15px;
    color: #999;

}
/* 右侧商品介绍结束 */
/* 产品详细简介开始 */
.product-xq{
    float: left;
}
.nav-pr{
    display: none;
}
.product-nav{
    width: 100%;
    height: 40px;    
    float: left;
    background-color: #fff;
    border:1px solid #E7E7E7;
    border-bottom: 4px solid #000;
    
}
.product-nav li{
    line-height: 40px;
    font-size: 16px;
    float: left;
    width: 140px;
    text-align: center;
    border-left:1px solid #E7E7E7;
}
.product-list{
    width: 100%;
}
.product-nav .active-tab{
    line-height: 40px;
    font-size: 16px;
    float: left;
    width: 140px;
    text-align: center;
    border-bottom: 4px solid #f10180;
    color: #f10180;
}
.tab-button{
    float: right;
    
}
.tab-button small{
    font-size: 18px;
    color: #f10180;
    line-height: 40px;
}
.tab-button big{
    font-size: 30px;
    color: #f10180;
    line-height: 40px;
}
.tab-button span{
    display: inline-block;
    width: 160px;
    font-size: 20px;
    color:#ffff;
    background-color: #f10180;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.tab-button i{
    margin-right: 10px;
    font-size: 20px;
}

.product-excel{
    width: 100%;
    float: left;
    margin-top: 20px;
    text-align: center;
}
.product-excel h1{
    font-size: 20px;
    text-align: left;
}
.product-excel h1 span:nth-child(1){
    color: #f10180;
    margin-right: 10px;
}
.product-excel h1 span:nth-child(2){
    color:#999999;
}
.product-excel p{
    width:100%;
    height: 5px;
    line-height: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    background: url(../img/zxx-21.png)repeat;
}
.pr-table {
    border-collapse: collapse;
    font-size: 14px;
}
.pr-table th{
    color: #666;
    background-color: #f5f5f5;
    width: 10%;
    text-align: right;
}
.pr-table td{
    border: 1px solid #E7E7E7;
    width: 40%;
    padding: 10px;
    text-align: left;
    color: #999;
    
}
.product-excel img{
   margin: 0 auto;
   /* text-align: center; */
   display: block;
}
/* 产品详细简介结束 */
/* 商品咨询开始 */
.question,.about{
    float: left;
    margin-top: 20px; 
    width: 100%;
}
.list-title{
    background-color: #EAE8EB;
    height: 40px;
    width: 100%;
}
.list-title h3{
    line-height:40px;
    font-weight: normal;
    padding-left: 20px;
    font-size: 14px;
}

.question-text{
    padding-left: 20px;
    font-size: 14px;
}
.question-text p{
    margin-top: 10px;
    font-weight: 700;

}
.question-text p span{
    display: inline-block;
    width: 65px;
    height: 35px;
    background: url(../img/zxx-100.png) -555px -63px no-repeat;
    margin-left: 10px;
    vertical-align: middle;
    padding-left: 40px;
    line-height: 35px;
    color: #f10180;
}
.question-text ul{
    margin-top: 20px;
}
.question-text li{
    line-height: 20px;
}
.question ul li:nth-child(1){
    font-weight: 700
}
.question ul li:nth-child(1) i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/zxx-100.png) -600px -150px no-repeat;
    vertical-align: middle;
}
.question ul li:nth-child(2) i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/zxx-100.png) -618px -150px no-repeat;
    vertical-align: middle;
}
/* 商品咨询结束 */
/* 关于我们开始 */
.about-img ul{
    height: 100px;
    width: 100%;
}

.about-img li{
    float: left;
    width: 100px;
    height: 100px;
    background-color: #fff;
}
.about-img li i{
    display: inline-block;
    width: 60px;
    height: 90px;
    margin: 10px 10px 0px 10px;
}
.about-img li:nth-child(1) i{
   
    background: url(../img/zxx-022.png) 0px 0 no-repeat;
}
.about-img li:nth-child(2) i{
    background: url(../img/zxx-022.png) -60px 0 no-repeat;
}
.about-img li:nth-child(3) i{
    background: url(../img/zxx-022.png) -120px 0 no-repeat;
}
.about-img li:nth-child(4) i{
    background: url(../img/zxx-022.png) -180px 0 no-repeat;
}
.about-img li:nth-child(5) i{
    background: url(../img/zxx-022.png) -240px 0 no-repeat;
}
.about-img li:nth-child(6) i{
    background: url(../img/zxx-022.png) -300px 0 no-repeat;
}
.about-img li:nth-child(7) i{
    background: url(../img/zxx-022.png) -360px 0 no-repeat;
}
.about-img li:nth-child(8) i{
    background: url(../img/zxx-022.png) -420px 0 no-repeat;
}

.about-img li:nth-child(1) i:hover,
.about-img li:nth-child(1)  .active{
    background: url(../img/zxx-022.png) 0 -120px no-repeat;
}
.about-img li:nth-child(2) i:hover,
.about-img li:nth-child(2)  .active{
    background: url(../img/zxx-022.png) -60px -120px no-repeat;
}
.about-img li:nth-child(3) i:hover,
.about-img li:nth-child(3)  .active{
    background: url(../img/zxx-022.png) -120px -120px no-repeat;
}
.about-img li:nth-child(4) i:hover,
.about-img li:nth-child(4)  .active{
    background: url(../img/zxx-022.png) -180px -120px no-repeat;
}
.about-img li:nth-child(5) i:hover,
.about-img li:nth-child(5)  .active{
    background: url(../img/zxx-022.png) -240px -120px no-repeat;
}
.about-img li:nth-child(6) i:hover,
.about-img li:nth-child(6)  .active{
    background: url(../img/zxx-022.png) -300px -120px no-repeat;
}
.about-img li:nth-child(7) i:hover,
.about-img li:nth-child(7)  .active{
    background: url(../img/zxx-022.png) -360px -120px no-repeat;
}
.about-img li:nth-child(8) i:hover,
.about-img li:nth-child(8)  .active{
    background: url(../img/zxx-022.png) -420px -120px no-repeat;
}
.about-content{
    height: 650px;
    float: left;
    width: 1170px;
   
}

.about-imgtab{
    height: 650px;
    width: 100%;
    display: none;
}
.active{
    display: block;
}
.about-imgtab li:nth-child(1){
    width: 100%;
    height:60px;
    /* background-color: #000; */
}
.about-imgtab li:nth-child(2){
    width: 100%;
    height:550px;
}
.about-content div:nth-child(1) li:nth-child(1){
   
    background: url(../img/zxx-022.png) 0 -240px no-repeat;
}
.about-content div:nth-child(1) li:nth-child(2){
    background: url(../img/zxx-017.jpg) no-repeat;
}
.about-content div:nth-child(2) li:nth-child(1){
    background: url(../img/zxx-022.png) 0 -320px no-repeat;
}
.about-content div:nth-child(2) li:nth-child(2){
    background: url(../img/zxx-31.jpg)no-repeat;
}
.about-content div:nth-child(3) li:nth-child(1){
    background: url(../img/zxx-022.png) 0 -400px no-repeat;
}
.about-content div:nth-child(3) li:nth-child(2){
    background: url(../img/zxx-033.jpg)  no-repeat;
}
.about-content div:nth-child(4) li:nth-child(1){
    background: url(../img/zxx-022.png) 0 -480px no-repeat;
}
.about-content div:nth-child(4) li:nth-child(2){
    background: url(../img/zxx-034.jpg)  no-repeat;
}
.about-content div:nth-child(5) li:nth-child(1){
    background: url(../img/zxx-022.png) 0 -560px no-repeat;
}
.about-content div:nth-child(5) li:nth-child(2){
    background: url(../img/zxx-035.jpg)  no-repeat;
}
.about-content div:nth-child(6) li:nth-child(1){
    background: url(../img/zxx-022.png) 0 -640px no-repeat;
}
.about-content div:nth-child(6) li:nth-child(2){
    background: url(../img/zxx-036.jpg)  no-repeat;
}
.about-content div:nth-child(7) li:nth-child(1){
    background: url(../img/zxx-022.png) 0 -720px no-repeat;
}
.about-content div:nth-child(7) li:nth-child(2){
    background: url(../img/zxx-037.jpg)  no-repeat;
}
.about-content div:nth-child(8) li:nth-child(1){
    background: url(../img/zxx-022.png) 0 -800px no-repeat;
}
.about-content div:nth-child(8) li:nth-child(2){
    background: url(../img/zxx-038.jpg)  no-repeat;
}
/* 关于我们结束 */
/* 页面结构结束 */
/* 详情页底部开始 */
/* 详情页底部结束 */